@import '@styles/variables.scss';

.link {
  padding: 20px 0;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      margin-right: 16px;
      fill: $surface-text;
    }
  }
  .text {
    @include font-semibold;
    font-size: 20px;
    line-height: 24px;
    color: $surface-text;
  }
  .active {
    right: 0px;
    position: absolute;
    width: 3px;
    height: 37px;
    background-color: $primary;
    border-radius: 5px 0px 0px 5px;
  }
}