// IMPORT FONTS
@font-face {
	font-family: 'Montserrat Bold';
	src: url('../assets/fonts/montserrat_bold/montserrat_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../assets/fonts/montserrat_bold/montserrat_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../assets/fonts/montserrat_bold/montserrat_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/fonts/montserrat_bold/montserrat_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../assets/fonts/montserrat_bold/montserrat_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../assets/fonts/montserrat_bold/montserrat_bold.svg#montserrat_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Montserrat SemiBold';
	src: url('../assets/fonts/montserrat_semibold/montserrat_semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('../assets/fonts/montserrat_semibold/montserrat_semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../assets/fonts/montserrat_semibold/montserrat_semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/fonts/montserrat_semibold/montserrat_semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../assets/fonts/montserrat_semibold/montserrat_semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../assets/fonts/montserrat_semibold/montserrat_semibold.svg#montserrat_semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Montserrat Medium';
	src: url('../assets/fonts/montserrat_medium/montserrat_medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../assets/fonts/montserrat_medium/montserrat_medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../assets/fonts/montserrat_medium/montserrat_medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/fonts/montserrat_medium/montserrat_medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../assets/fonts/montserrat_medium/montserrat_medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../assets/fonts/montserrat_medium/montserrat_medium.svg#montserrat_medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

// COLORS
$primary: #4F27BF;
$primary-muted: #8169c2;
$primary-text: #fff;
$surface: #fff;
$surface-text: #1C1C1E;
$surface-text-muted: #6C6C6C;
$grey: #D7D7D7;
$link-color: #002BC5;

// FONTS
@mixin font-medium {
  font-family: 'Montserrat Medium', 'sans-serif';
  font-weight: 500;
}
@mixin font-semibold {
  font-family: 'Montserrat SemiBold' ,sans-serif;
  font-weight: 600;
}
@mixin font-bold {
  font-family: 'Montserrat Bold', sans-serif;
  font-weight: 700;
}