@import '@styles/variables.scss';

.content {
  padding: 32px;
  margin-top: 80px;
  margin-left: 300px;
  .title {
    margin-bottom: 16px;
    @include font_bold;
    font-size: 26px;
    line-height: 31px;
    color: $surface-text;
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin-left: 0;
    margin-top: 68px;
  }
}

@media screen and (max-width: 425px) {
  .content {
    padding: 16px 16px 16px 32px;
    margin-top: 56px;
    padding-top: 16px;
  }
}