@import '@styles/variables.scss';

.navbar {
  position: relative;
  width: 300px;
  .wrapper {
    padding-bottom: 80px;
    top: 80px;
    position: fixed;
    width: 300px;
    height: 100vh;
    padding-top: 24px;
    padding-left: 32px;
    background-color: $surface;
    box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
    overflow-y: auto;
    .menu {
      @include font_bold;
      font-size: 20px;
      line-height: 24px;
    }
  }
  .mark {
    visibility: hidden;
    left: 275px;
    top: 50%;
    position: fixed;
    width: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    border-radius: 13px 0px 0px 13px;
    &_closed {
      left: 0;
      border-radius: 0 13px 13px 0;
    }
    &__icon {
      fill: $primary-text;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .wrapper {
      top: 68px;
    }
    .mark {
      visibility: visible;
    }
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    .wrapper {
      top: 56px;
    }
  }
}